[Unit]
Description=/home/hosting

[Mount]
What=hosting:/home/hosting
Where=/home/hosting
Type=nfs
Options=defaults,timeo=30

[Install]
WantedBy=multi-user.target
