[Unit]
Description=MySQL Socket Redirection
After=network.target

[Service]
Type=forking
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mysql-socket-redirection
SuccessExitStatus=143

ExecStartPre=/bin/mkdir -p /var/run/mysqld
ExecStart=/usr/bin/socat UNIX-LISTEN:/var/run/mysqld/mysqld.sock,fork,reuseaddr,unlink-early,user=mysql,group=mysql,mode=777 TCP:sql:3306

Restart=always

[Install]
WantedBy=multi-user.target
